# Análisis Sísmico

In [1]:
#Importar las librerías necesarias
%load_ext autoreload
%autoreload 2
import os
import sys
import numpy
sys.path.append(os.getcwd())
from lib import etabs_utils as etb
from lib import sismo_utils as sis
from lib import notebook_utils as ntb
#from mem import sismo_mem as smem
from ipywidgets import widgets
from IPython.display import display

In [2]:
_,SapModel = etb.connect_to_etabs()

In [3]:
sismo = ntb.Sismo()

# Parámetros de Sitio

## Zonificación
![Factor de Zonifiación](./images/factor_zona.png)

## Factor de Suelo
![Factor de Suelo](./images/factor_suelo.png)

## Periodos del suelo
![Periodos del Suelo](./images/periodos_suelo.png)

## Sistema Estructural
![Sistema Estructural](./images/sistemas_estructurales.png)

## Factor de Amplificación sísmica
![Factor de Amplificacion Sísmica](./images/amplificacion_sismica.png)

## Factor de Importancia
![Factor de Importancia](./images//factor_importancia.png)

In [4]:
sismo.parametros_e30()

VBox(children=(Dropdown(description='Factor Zona', index=3, options=(1, 2, 3, 4), style=DescriptionStyle(descr…

# Irregularidades

In [7]:
sismo.irregularidades_e30()

HBox(children=(VBox(children=(HTML(value='<b>Irregularidad en Altura</b>'), Checkbox(value=False, description=…

# Parámetros Sísmicos

In [8]:
sismo.show_params()

 Parámetros de sitio:
Factor de zona:
    Z=0.45
Factor de Importancia:
    U=1.00
Factor de Suelo:
    S=1.05
Periodos del Suelo:
    Tp=0.60
    Tl=2.00
Factor Básico de Reducción:
    Rox=7.00
    Roy=7.00
Irregularidad en planta:
    Ip=1.00
Irregularidad en altura:
    Ia=1.00
Factor de Reducción:
    Rx=7.00
    Ry=7.00

In [9]:
sismo.select_loads(SapModel)

HBox(children=(VBox(children=(HTML(value='<b>Dirección X</b>'), Dropdown(description='Sismo Estatico en X', in…

In [10]:
sismo.select_base_story(SapModel)

Dropdown(description='Piso Base', options=('Story1', 'Story2', 'Story3', 'Story4'), style=DescriptionStyle(des…

In [11]:
sismo.analisis_sismo(SapModel)

In [12]:
sismo.tables.modal

   Mode Period            UX        UY         RZ   SumUX   SumUY   SumRZ
0     1  0.272  8.001000e-01  0.000100     0.0143  0.8001  0.0001  0.0143
1     2  0.153  1.210000e-02  0.136300     0.6867  0.8122  0.1364  0.7009
2     3  0.135  3.200000e-03  0.737400     0.1362  0.8154  0.8738  0.8372
3     4  0.094  5.680000e-02  0.000200     0.0352  0.8722  0.8739  0.8724
4     5  0.072  1.081000e-01  0.000100      0.007  0.9804   0.874  0.8794
5     6  0.052  3.000000e-04  0.075600      0.025  0.9807  0.9496  0.9044
6     7  0.047  1.300000e-03  0.019000     0.0789   0.982  0.9686  0.9833
7     8  0.043  1.750000e-02  0.000200   4.81E-06  0.9995  0.9688  0.9833
8     9  0.039  1.000000e-04  0.020500     0.0039  0.9996  0.9893  0.9872
9    10  0.033  4.134000e-05  0.004200     0.0005  0.9997  0.9935  0.9877
10   11  0.029  9.026000e-07  0.006500  4.904E-06  0.9997       1  0.9877
11   12  0.029  3.000000e-04  0.000035     0.0123       1       1       1

## Revisión por Piso Blando

In [13]:
sismo.show_table(sismo.tables.piso_blando_table)

Dropdown(description='Filtro', options=('Sx', 'SDx Max', 'Sy', 'sin filtro'), style=DescriptionStyle(descripti…

,Story,OutputCase,UX,UY,ΔUX,ΔUY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
0,Story4,Sx,14.417,-0.037,3.277,0.098,-55385.94,0,16901.415929,0.000000,0.000000,Regular
1,Story3,Sx,11.14,-0.135,3.859,-0.038,-607453.18,0,157412.070485,11830.991150,0.000000,Regular
2,Story2,Sx,7.281,-0.097,4.121,-0.059,-1111554.62,0,269729.342393,110188.449339,0.000000,Regular
3,Story1,Sx,3.16,-0.038,3.160,-0.038,-1384536.84,0,438144.569620,188810.539675,118411.421015,Regular

## Revisión por Irregularidad de Masa

In [14]:
sismo.tables.rev_masa_table

    Story      Mass   1.5 Mass story_type is_regular
0  Story4    7.5451                Azotea    Regular
1  Story3   93.8061  140.70915       Piso    Regular
2  Story2  126.4444   189.6666       Piso    Regular
3  Story1  130.7201  196.08015       Piso    Regular
4    Base   26.8405                Sotano    Regular

## Revisión de torsión

In [15]:
sismo.show_table(sismo.tables.torsion_table)

Dropdown(description='Filtro', options=('SDx Max', 'Sx ', 'Sy ', 'sin filtro'), style=DescriptionStyle(descrip…

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
0,Story4,SDx Max,X,3.045,3.029,1.005,2300,21.315,False,Regular
3,Story3,SDx Max,X,3.497,3.316,1.055,3000,24.479,False,Regular
6,Story2,SDx Max,X,3.958,3.565,1.11,3000,27.706,False,Regular
9,Story1,SDx Max,X,3.226,2.729,1.182,3300,22.582,False,Regular

## Derivas

In [16]:
sismo.show_table(sismo.tables.drift_table)

Dropdown(description='Filtro', options=('SDx Max', 'Sx ', 'Sy ', 'sin filtro'), style=DescriptionStyle(descrip…

    Story OutputCase Direction  Drifts Drift_Check
0  Story4    SDx Max         X  21.315   No Cumple
3  Story3    SDx Max         X  24.479   No Cumple
6  Story2    SDx Max         X  27.706   No Cumple
9  Story1    SDx Max         X  22.582   No Cumple

# Fuerza Cortante Mínima

In [36]:
sismo.tables.shear_table.style.hide(axis='index').hide(axis='columns')

# Generación de reporte

In [ ]:
sismo.generate_memoria()