# Análisis Sísmico

In [136]:
#Importar las librerías necesarias
%load_ext autoreload
%autoreload 2
import os
import sys
import numpy
sys.path.append(os.getcwd())
from lib import etabs_utils as etb
from lib import sismo_utils as sis
from lib import notebook_utils as ntb
#from mem import sismo_mem as smem
from ipywidgets import widgets
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [137]:
_,SapModel = etb.connect_to_etabs()

In [138]:
sismo = ntb.Sismo()

# Parámetros de Sitio

## Zonificación
![Factor de Zonifiación](./images/factor_zona.png)

## Factor de Suelo
![Factor de Suelo](./images/factor_suelo.png)

## Periodos del suelo
![Periodos del Suelo](./images/periodos_suelo.png)

## Sistema Estructural
![Sistema Estructural](./images/sistemas_estructurales.png)

## Factor de Amplificación sísmica
![Factor de Amplificacion Sísmica](./images/amplificacion_sismica.png)

## Factor de Importancia
![Factor de Importancia](./images//factor_importancia.png)

In [139]:
sismo.parametros_e30()

VBox(children=(Dropdown(description='Factor Zona', index=3, options=(1, 2, 3, 4), style=DescriptionStyle(descr…

# Irregularidades

In [140]:
sismo.irregularidades_e30()

HBox(children=(VBox(children=(HTML(value='<b>Irregularidad en Altura</b>'), Checkbox(value=False, description=…

# Parámetros Sísmicos

In [141]:
sismo.show_params()

 Parámetros de sitio:
Factor de zona:
    Z=0.45
Factor de Importancia:
    U=1.00
Factor de Suelo:
    S=1.05
Periodos del Suelo:
    Tp=0.60
    Tl=2.00
Factor Básico de Reducción:
    Rox=7.00
    Roy=7.00
Irregularidad en planta:
    Ip=1.00
Irregularidad en altura:
    Ia=1.00
Factor de Reducción:
    Rx=7.00
    Ry=7.00

In [142]:
sismo.select_loads(SapModel)

HBox(children=(VBox(children=(HTML(value='<b>Dirección X</b>'), Dropdown(description='Sismo Estatico en X', in…

In [143]:
sismo.select_base_story(SapModel)

Dropdown(description='Piso Base', options=('NT', 'Story1', 'Story2', 'Story3', 'Story4', 'Story5', 'Story6', '…

In [144]:
sismo.analisis_sismo(SapModel)

In [145]:
sismo.tables.modal

   Mode Period        UX            UY         RZ   SumUX   SumUY   SumRZ
0     1  0.644  0.690600  1.000000e-03     0.0111  0.6906   0.001  0.0111
1     2  0.451  0.015600  1.720000e-02     0.6635  0.7062  0.0182  0.6746
2     3  0.218  0.000300  6.536000e-01      0.018  0.7065  0.6719  0.6926
3     4  0.176  0.131200  6.000000e-04     0.0022  0.8377  0.6725  0.6948
4     5   0.13  0.001200  1.200000e-03     0.0169  0.8388  0.6737  0.7117
5     6  0.122  0.002200  1.300000e-03        0.1   0.841   0.675  0.8116
6     7    0.1  0.000400  2.900000e-03     0.0299  0.8414  0.6779  0.8415
7     8  0.087  0.019500  1.000000e-04     0.0068  0.8609   0.678  0.8483
8     9  0.076  0.033600  6.606000e-06  3.177E-05  0.8945   0.678  0.8483
9    10  0.064  0.000800  2.184000e-05     0.0019  0.8953   0.678  0.8502
10   11  0.054  0.000300  5.000000e-04     0.0488  0.8957  0.6785   0.899
11   12   0.05  0.001000  5.610000e-02     0.0011  0.8967  0.7346  0.9001
12   13   0.05  0.001200  1.230000e-01     0.0006  0.8978  0.8576  0.9007
13   14  0.049  0.007500  1.000000e-04     0.0004  0.9053  0.8578  0.9011
14   15  0.046  0.018700  3.659000e-05     0.0018  0.9241  0.8578  0.9029
15   16  0.042  0.000009  6.875000e-07     0.0002  0.9241  0.8578  0.9031
16   17  0.037  0.000045  1.239000e-06     0.0004  0.9241  0.8578  0.9035
17   18  0.035  0.000500  1.000000e-04     0.0204  0.9246  0.8579  0.9239
18   19  0.034  0.000700  4.201000e-05      0.002  0.9253   0.858  0.9259
19   20  0.033  0.005900  2.000000e-04     0.0007  0.9312  0.8581  0.9266
20   21  0.032  0.003600  7.295000e-07  2.517E-05  0.9348  0.8581  0.9266
21   22  0.031  0.006200  1.000000e-04     0.0022   0.941  0.8582  0.9288
22   23  0.026  0.003900  1.899000e-05     0.0082  0.9449  0.8582  0.9369
23   24  0.024  0.006300  4.295000e-05     0.0001  0.9513  0.8583  0.9371

## Revisión por Piso Blando

In [146]:
sismo.show_table(sismo.tables.piso_blando_table)

Dropdown(description='Filtro', options=('Sx Max', 'Sy Min', 'Sx Min', 'SDx Max', 'SDy Max', 'Sy Max', 'sin fil…

,Story,OutputCase,UX,UY,ΔUX,ΔUY,VX,VY,lat_rig(k),0.7_prev_k,0.8k_prom,is_reg
0,Story8,Sx Max,0.028397,-0.000452,0.002752,-0.000035,-18.4866,0,6717.514535,0.000000,0.000000,Regular
1,Story7,Sx Max,0.025645,-0.000417,0.003577,-0.000043,-39.5596,0,11059.435281,4702.260174,0.000000,Regular
2,Story6,Sx Max,0.022068,-0.000374,0.004129,-0.000067,-57.4061,0,13903.148462,7741.604697,0.000000,Regular
3,Story5,Sx Max,0.017939,-0.000307,0.004588,-0.000080,-72.069,0,15708.151700,9732.203923,8448.026207,Regular
4,Story4,Sx Max,0.013351,-0.000227,0.004601,-0.000084,-84.1016,0,18278.982830,10995.706190,10845.529452,Regular
5,Story3,Sx Max,0.00875,-0.000143,0.004264,-0.000078,-92.7918,0,21761.679174,12795.287981,12770.742131,Regular
6,Story2,Sx Max,0.004486,-6.5E-05,0.003241,-0.000053,-98.1396,0,30280.654119,15233.175422,14866.350321,Regular
7,Story1,Sx Max,0.001245,-1.2E-05,0.001245,-0.000012,-99.7665,0,80133.734940,21196.457883,18752.350966,Regular

## Revisión por Irregularidad de Masa

In [147]:
sismo.tables.rev_masa_table

    Story     Mass   1.5 Mass story_type is_regular
0  Story8  6.66875                Azotea    Regular
1  Story7  8.75356   13.13034       Piso    Regular
2  Story6  8.73707  13.105605       Piso    Regular
3  Story5  8.73903  13.108545       Piso    Regular
4  Story4  9.16343  13.745145       Piso    Regular
5  Story3  9.16343  13.745145       Piso    Regular
6  Story2  9.16343  13.745145       Piso    Regular
7  Story1  7.43363  11.150445       Piso  Irregular
8      NT  3.56015   5.340225       Piso    Regular
9    Base  3.91769                Sotano    Regular

## Revisión de torsión

In [148]:
sismo.show_table(sismo.tables.torsion_table)

Dropdown(description='Filtro', options=('Sx Max', 'Sx Min', 'Sy Max', 'Sy Min', 'SDx Max', 'SDy Max', 'sin fil…

,Story,OutputCase,Direction,Max Drift,Avg Drift,Ratio,Height,Drifts,Drift < Dmax/2,tor_reg
0,Story8,Sx Max,X,0.003536,0.003073,1.151,2.5,0.024752,False,Regular
9,Story7,Sx Max,X,0.004079,0.003789,1.077,2.5,0.028553,False,Regular
18,Story6,Sx Max,X,0.004785,0.00436,1.097,2.5,0.033495,False,Regular
27,Story5,Sx Max,X,0.005299,0.004789,1.107,2.5,0.037093,False,Regular
36,Story4,Sx Max,X,0.005457,0.004915,1.11,2.5,0.038199,False,Regular
45,Story3,Sx Max,X,0.005263,0.004659,1.13,2.5,0.036841,False,Regular
54,Story2,Sx Max,X,0.00448,0.00371,1.208,2.5,0.031360,False,Regular
62,Story1,Sx Max,X,0.001341,0.001119,1.199,1.5,0.009387,False,Regular
71,NT,Sx Max,X,0.00032,0.000134,2.387,1.75,0.002240,True,Regular

## Derivas

In [149]:
sismo.show_table(sismo.tables.drift_table)

Dropdown(description='Filtro', options=('Sx Max', 'Sx Min', 'Sy Max', 'Sy Min', 'SDx Max', 'SDy Max', 'sin fil…

     Story OutputCase Direction    Drifts Drift_Check
0   Story8     Sx Max         X  0.024752   No Cumple
9   Story7     Sx Max         X  0.028553   No Cumple
18  Story6     Sx Max         X  0.033495   No Cumple
27  Story5     Sx Max         X  0.037093   No Cumple
36  Story4     Sx Max         X  0.038199   No Cumple
45  Story3     Sx Max         X  0.036841   No Cumple
54  Story2     Sx Max         X  0.031360   No Cumple
62  Story1     Sx Max         X  0.009387   No Cumple
71      NT     Sx Max         X  0.002240      Cumple

# Fuerza Cortante Mínima

In [150]:
sismo.tables.shear_table.style.hide(axis='index').hide(axis='columns')

In [151]:
sismo.ubicacion()

VBox(children=(Dropdown(description='Departamento ', options=('LORETO', 'UCAYALI', 'MADRE DE DIOS', 'PUNO', 'A…

# Generación de reporte

In [156]:
sismo.generate_memoria()

TypeError: factor_zona() missing 1 required positional argument: 'zona'

In [155]:
sismo.data.zona

4